<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item *ngIf="!!user.displayName">{{user.displayName}}
  </ion-item>
  <ion-item *ngIf="!!user.email">{{user.email}}</ion-item>
  <ion-item *ngIf="!!user.email"><button ion-button (click)="logout()">Logout</button></ion-item>
  <ion-item *ngIf="!user.email">
    <ion-label floating>Username</ion-label>
    <ion-input type="text" [value]="username" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item *ngIf="!user.email">
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [value]="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item *ngIf="!user.email">
    <button color="secondary" ion-button outline (click)="loginWithPassword(username, password)">Login</button>
    <button color="dark" ion-button outline item-right (click)="signup(username, password)">Signup</button>
    <button color="primary" ion-button outline (click)="login()">Google Login</button>
  </ion-item>
  
</ion-content>