<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-buttons end (click)="login()" *ngIf="!authService.uid">
      <button ion-button icon-right>
        Sign-In
        <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end (click)="logout()" *ngIf="!!authService.uid">
      <button ion-button icon-right>
        Sign-Out
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
</ion-content>